.flow > *:where(:not(:first-child)) {
  margin-top: car(--flow-spacer, 1rem);
}

// .flow[data-spacing="small"] {
//   --flow-spacer: .25rem;
// } 

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}