$colors: (
  neutral: (
    100: hsl(0, 0%, 98%),
    200: hsl(0, 0%, 94%),
    300: hsl(0, 0%, 88%),
    400: hsl(0, 0%, 63%),
    500: hsl(0, 0%, 49%),
    600: hsl(11, 0%, 40%),
    700: hsl(18, 0%, 35%),
    800: hsl(10, 0%, 15%),
    900: hsl(0, 0%, 0%),
  ),
  primary: (
    100: #f9d0c9,
    300: #df3417,
    400: #b12912,
    700: #831e0d,
  ),
);
