@use "../abstracts/" as *;

.contact {
  padding: 40px 0;

  &__form {
    margin: 0 25% 0;
    background-color: clr(neutral, 900);
    border-radius: 0.5rem;
    padding: 2.5rem;
    
    h2 {
      color: clr(neutral, 100);
      font-weight: $fw-700;
      font-size: fs(600);
      margin-inline-end: size(20);
      margin-block-end: calc(size(8) / 2 );
    }
    
    h4 {
      color: clr(neutral, 400);
      font-weight: $fw-400;
    }

    hr {
      border: none;
      width: 120px;
      height: 5px;
      background-color: clr(neutral, 200);
      border-radius: 10px;
      margin-block: size(20);
    }

    .contact-inputs {
      width: 100%;
      height: 3rem;
      border: none;
      outline: none;
      border-radius: 0.25rem;
      padding-left: 1em;
      font-weight: 100;
      margin-block: size(8);
    }

    .contact-inputs:focus {
      border: 2px solid clr(primary, 100);
    }

    .contact-inputs::placeholder {
      color: clr(neutral, 400);
    }

    textarea {
      padding-top: 15px;
      width: minmax(100%, 100%);
    }

    button {
      display: flex;
      align-items: center;
      padding: 15px 30px;
      color: clr(neutral, 200);
      gap: 10px;
      border: none;
      border-radius: 50px;
      background: var(--colora);
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .submit-button {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    img {
      height: 1.5rem;
      width: 2rem;
    }

    input[type="email"]:valid {
      color: rgb(56, 158, 56);
    }

    input[type="email"]:invalid {
      color: rgb(178, 36, 36);
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
}

.success-message {
  color: green;
  font-size: 1rem;
  margin-top: 10px;
}