@use "../abstracts/" as *;

.primary-footer {
  padding-block: size(32);
  nav {
    margin-block-end: size(24); 
    a {
      color: clr(neutral, 100);
    }
  }
  p {
    font-size: fs(300);
  }

  a {
    cursor: pointer;
  }

  img, svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-block-end: size(12);
    vertical-align: middle;    
  }

  svg {
    overflow: visible;
  }
}
