@use "../abstracts/" as *;

.service-tile {
  display: flex;
  flex-direction: column;
  align-items: center;

  svg, img {
    width: 100px;
    height: 100px;
  }

  h2 {
    font-size: fs(600);
    font-weight: $fw-600;
    margin-block-start: size(24);
    color: clr(neutral, 800);
    text-align: center;
  }

  p {
    font-size: fs(400);
    font-weight: $fw-400;
    margin-block-start: 0;
    color: clr(neutral, 500);
  }
}
